<div class="col l6 m12 channel{{ channel }}">
  <div class="card-panel">
    <div class="row valign-wrapper">
      <!-- Track switch -->
      <div class="col s7 valign"><h5 class="center">Channel {{ channel }}</h5>
        </div>
        <div class="switch col s5">
        <label>
            CC
            <input disabled type="checkbox" class="track">
            <span class="lever"></span>
            CP
        </label>
        </div>
      </div>
    <div class="divider"></div>
    <div class="row">
      <div class="col s3 center"><h6>Set</h6></div>
      <div class="col s3 center"><h6>Limit</h6></div>
      <div class="col s3 center"><h6>I<sub>mon</sub></h6></div>
      <div class="col s3 center"><h6>P<sub>mon</sub></h6></div>
    </div>
    <div class="row">
        <form action="#">
        <div class="col s3">
            <div class="slider setpoint channel{{ channel }}"></div>
        </div>
        <div class="col s3">
            <div class="slider limit channel{{ channel }}"></div>
        </div>
        <div class="col s3">
            <div class="slider prog imon channel{{ channel }}"></div>
        </div>
        <div class="col s3">
            <div class="slider prog pmon channel{{ channel }}"></div>
        </div>
        </form>
    </div>
    <div class="row valign-wrapper">
        <div class="col s3">
            <input type="number" size="3" class="spinner setpoint channel{{ channel }}">
            <label>mA</label>
        </div>
        <div class="col s3">
            <input type="number" size="3" class="spinner limit channel{{ channel }}">
            <label>mA</label>
        </div>
        <div class="col s3">
            <span class="label imon valign center">0</span>
        </div>
        <div class="col s3">
            <span class="label pmon valign center">0</span>
        </div>
    </div>
  </div>
</div>