        <div class="col s2">
          <br><br><br>
          <ul class="collection">
            <li class="collection-item">
              <a id="REN" class="btn-floating red enable_btn"><i class="large mdi-content-clear white-text"></i></a>
              <span class="title">Remote</span>
            </li>
            <li class="collection-item">
              <a id="LEN" class="btn-floating disabled green enable_btn"><i class="large mdi-action-done white-text"></i></a>
              <span class="title">Local</span>
            </li>
            <li class="collection-item">
              <a id="XEN" class="btn-floating disabled red enable_btn"><i class="large mdi-content-clear white-text"></i></a>
              <span class="title">External</span>
            </li>
            <li class="collection-item">
              <a id="OUT" class="btn-floating disabled green enable_btn"><i class="large mdi-action-done white-text"></i></a>
              <span class="title">Output</span>
            </li>
          </ul>
        </div>