    <footer class="page-footer red lighten-1">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">Battaglia Lab</h5>
            <p class="grey-text text-lighten-4">Powering brains, powered by brains.</p>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
          Made by <a class="red-text text-lighten-3" href="https://github.com/wonkoderverstaendige">Ronny Eichler</a>
        </div>
      </div>
    </footer>