    <div id="modal_device" class="modal">
      <div class="modal-content">
        <h4>Device Information and Selection</h4>
        <p>Display Model, Firmware, Server version, etc.
        </p>
      </div>
      <div class="modal-footer">
        <a href="#!" class="modal-action modal-close btn-flat">Ok</a>
      </div>
    </div>

    <div id="modal_settings" class="modal">
      <div class="modal-content">
        <h4>Configure Interface</h4>
        <p>Not sure what to put here, but I think I'll need it at some point.
        </p>
      </div>
      <div class="modal-footer">
        <a href="#!" class="modal-action modal-close btn-flat">Cancel</a>
        <a href="#!" class="modal-action modal-close btn-flat">Ok</a>
      </div>
    </div>
    
    <div id="modal_about" class="modal">
      <div class="modal-content">
        <h4>PyFL593FL Laser diode control interface</h4>
        <p>Placeholder text describing what this whole thing is about, plus disclaimers of damage, 
        pronounciation of the damn name, etc.
        </p>
      </div>
      <div class="modal-footer">
        <a href="#!" class="modal-action modal-close btn-flat">Ok</a>
      </div>
    </div>