        <div class="col s2">
          <br><br><br>
          <div class="input-field">
            <i class="mdi-editor-mode-edit prefix"></i>
            <textarea id="icon_prefix" class="materialize-textarea"></textarea>
            <label for="icon_prefix">Add Note</label>
          </div>
          <div class="card-panel">
            <span class="right grey-text text-lighten-1">08:44:19</span>
            <p>TODO: Research tides</p></div>
          <div class="card-panel">
            <span class="right grey-text text-lighten-1">08:29:12</span>
            <p>Making a sandwich</p></div>
          <div class="card-panel">
            <span class="right grey-text text-lighten-1">08:24:58</span>
            <p>Moon exploded. Whoops</p></div>
          <div class="card-panel">
            <span class="right grey-text text-lighten-1">08:24:33</span>
            <p>Bouncing laser beam off the moon</p></div>
        </div>