.prog .noUi-handle {
    display: none;
}

.slider.setpoint, .slider.limit, .slider.imon, .slider.pmon {
    margin: 10px;
    height: 250px;
    display: inline-block
}

.slider.imon .noUi-connect {
    background: #27ae60;
}

.slider.pmon .noUi-connect {
    background: #2980b9;
}

.slider.setpoint .noUi-connect {
    background: #27ae60;
}

.slider.limit .noUi-connect {
    background: #27ae60;
}

input.spinner {
    width: 45px;
}
